.lheight
{margin-top: 5px;}

input[type="radio"]
{display: block;}

.mooi label
{ 
display:inline-block;text-align: center;padding:1em;
}

input[type="text"]
{border-radius: 5px;}

textarea
{border-radius: 5px;}
